name: test
on:
  push:
    branches:
      - master

env:
  CI: true
jobs:
  test:
    name: "Test on Node.js ${{ matrix.node_version }}"
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        node_version: [12]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup Node ${{ matrix.node_version }}
        uses: actions/setup-node@v1
        with:
          node_version: ${{ matrix.node_version }}
      - name: Install
        run: yarn install
      - name: Run Benchmark
        run: cd examples/benchmark && npm run benchmark | tee output.txt
      - name: Store benchmark result
        uses: rhysd/github-action-benchmark@v1
          with:
            name: Benchmark.js Benchmark
            tool: 'benchmarkjs'
            output-file-path: examples/benchmark/output.txt
            # Use personal access token instead of GITHUB_TOKEN due to https://github.community/t5/GitHub-Actions/Github-action-not-triggering-gh-pages-upon-push/td-p/26869/highlight/false
            github-token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
            auto-push: true
            # Show alert with commit comment on detecting possible performance regression
            alert-threshold: '200%'
            comment-on-alert: true
            fail-on-alert: true
            alert-comment-cc-users: '@azu'
