# Manual call Publish-Artifact with current version
name: Comment-Publish-Artifact
on:
  issue_comment:
    types: [created]

# require public member
# private member is treated as CONTRIBUTOR
permissions:
  contents: read
jobs:
  dispatch_publish_artifact:
    if: |
      github.event_name == 'issue_comment' &&
      (github.event.comment.author_association == 'MEMBER' || github.event.comment.author_association == 'OWNER') &&
      startsWith(github.event.comment.body, '@secretlint publish artifact')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set Current Version
        shell: bash -ex {0}
        run: |
          CURRENT_VERSION=$(node -p 'require("./lerna.json").version')
          echo "CURRENT_VERSION=${CURRENT_VERSION}" >> $GITHUB_ENV
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ steps.generate_token.outputs.token }}
          event-type: publish-artifact
          client-payload: '{"version": "${{ env.CURRENT_VERSION }}"}'
