name: test
on:
  push:
    branches:
      - main
      - master
  pull_request:
permissions:
  contents: read
env:
  TURBO_TELEMETRY_DISABLED: 1
  DO_NOT_TRACK: 1
jobs:
  hadolint:
    runs-on: macos-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - run: brew install hadolint
      - run: hadolint ./Dockerfile
        working-directory: ./publish/docker

  test:
    name: "Test on Node.js ${{ matrix.node-version }} OS: ${{matrix.os}}"
    runs-on: ${{matrix.os}}
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
        node-version: [ 20, 22, 24 ]
    steps:
      - name: checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3.9.1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: pnpm install
      - name: Test
        run: pnpm run ci
  binary-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: setup Node.js
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3.9.1
        with:
          node-version: 22
      # install and build source codes
      - name: Install
        run: pnpm install
      - name: Build Source Code
        run: pnpm run build
      # build the binary
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
        with:
          bun-version-file: "./publish/binary-compiler/.bun-version"
      - name: Install Binary Compiler
        run: bun install
        working-directory: ./publish/binary-compiler
      - name: Test Binary
        run: bun run test
        working-directory: ./publish/binary-compiler

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
