name: test-diff
on:
  push:
  pull_request:
jobs:
  test-diff:
    permissions:
      contents: read
    name: "Run secretlint to diff files"
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          # fetch history to get all changed files on push or pull_request event
          fetch-depth: 1000
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
      - name: setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22
          cache: 'yarn'
      - name: Show changed files
        run: echo "${{ steps.changed-files.outputs.all_changed_files }}"
      - name: Install
        if: steps.changed-files.outputs.any_changed == 'true'
        run: yarn install
      - name: Build
        if: steps.changed-files.outputs.any_changed == 'true'
        run: yarn run build
      - name: Run secretlint
        if: steps.changed-files.outputs.any_changed == 'true'
        run: ./node_modules/.bin/secretlint ${{ steps.changed-files.outputs.all_changed_files }}
