name: test
on:
  push:
    branches-ignore:
      - gh-pages
  pull_request:
env:
  CI: true
permissions:
  contents: read
jobs:
  hadolint:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - run: brew install hadolint
      - run: hadolint ./Dockerfile
        working-directory: ./publish/docker

  test:
    name: "Test on Node.js ${{ matrix.node-version }} OS: ${{matrix.os}}"
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
        node-version: [ 18, 20 ]
        # but exclude macOs x node 18
        exclude:
          - os: macos-latest
            node-version: 18
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: yarn install
      - name: Test
        run: yarn ci

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
