name: test
on:
  push:
    branches-ignore:
      - gh-pages
  pull_request:
    branches:
      - master
env:
  CI: true
jobs:
  test:
    name: "Test on Node.js ${{ matrix.node_version }} OS: ${{matrix.os}}"
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-18.04]
        node_version: [10, 12]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup Node ${{ matrix.node_version }}
        uses: actions/setup-node@v1
        with:
          node_version: ${{ matrix.node_version }}
      - name: Install
        run: yarn install
      - name: Test
        run: yarn ci
