name: test
on:
  push:
    branches:
      - main
      - master
  pull_request:
permissions:
  contents: read
env:
  TURBO_TELEMETRY_DISABLED: 1
  DO_NOT_TRACK: 1
jobs:
  hadolint:
    runs-on: macos-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 1
      - run: brew install hadolint
      - run: hadolint ./Dockerfile
        working-directory: ./publish/docker

  test:
    name: "Test on Node.js ${{ matrix.node-version }} OS: ${{matrix.os}}"
    runs-on: ${{matrix.os}}
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
        node-version: [ 18, 20 ]
        # but exclude macOs x node 18
        exclude:
          - os: macos-latest
            node-version: 18
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: yarn install
      - name: Test
        run: yarn ci -v
  binary-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22
      # install and build source codes
      - name: Install
        run: yarn install
      - name: Build Source Code
        run: yarn run build
      # build the binary
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2
        with:
          bun-version-file: "./publish/binary-compiler/.bun-version"
      - name: Install Binary Compiler
        run: bun install
        working-directory: ./publish/binary-compiler
      - name: Test Binary
        run: bun run test
        working-directory: ./publish/binary-compiler

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
